@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #9B59B6;
}

.wrapper {
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icon span {
    height: 38px;
    width: 38px;
    color: #878787;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

header .icon span:hover {
    background: #f2f2f2;
}

header .icon span:last-child {
    margin-right: -10px;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .weeks {
    font-weight: 500;
}

.calendar .days li {
    cursor: pointer;
    margin-top : 30px;
    z-index: 1;
}

.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
}

.days li:hover::before {
    background: #f2f2f2;
}